<%- include('header'); -%>

<header>
    <div class="container-fluid bg-success-subtle mb-4">
        <div class="col-sm-8 mx-auto text-center py-4">
            <h1 class="display-6">dKin Butterfly Club</h1>
            <p class="lead">Informative web page on Butterflies from around the world</p>
        </div>
    </div>
</header>

<main class="container mt-4">
  <h3 class="text-danger">Invalid Verification</h3>
  <p><%= message %></p>
  <p><a href="/">Click here to return to the form</a></p>
</main>
<%- include('footer'); -%>
